* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    min-width: 1200px;
    font-family: sans-serif;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    margin: 20px auto;
    min-height: 100%;
    flex: 1;
}

.header {
    border-bottom: 1px solid #b5b7ba;
    background-color: #dfdfdf;
    height: 50px;
    text-align: center;
    padding-top: 18px;
}

.task {
    color: grey;
    font-size: 16px;
    padding-bottom: 10px;
}

.menu {
    height: 160px;
}

.top_menu {
    display: flex;
    justify-content: space-evenly;
}

.top_menu_list, .sub_menu_list {
    /*list-style-type: none;*/
}

.top_menu_link, .sub_menu_link {
    color: green;
    text-decoration: none;
    line-height: 25px;
}

.top_menu_link:hover, .sub_menu_link:hover {
    color: red;
}

.top_menu:hover .sub_menu {
    display: block;
}

.sub_menu {
    display: none;
}

.clr {
    clear: both;
    height: 80px;
}

.footer {
    background-color: #434445;
    min-width: 1200px;
    height: 80px;
    text-align: center;
    color: #a4a4a4;
    font-size: 20px;
    font-weight: 100;
    line-height: 80px;
    margin: -80px auto 0;
}