* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    min-width: 1200px;
    font-family: sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
    min-height: 100%;
}

.content {
    margin: 20px auto;
}

.nav {
    border-bottom: 1px solid #b5b7ba;
    background-color: #dfdfdf;
    height: 50px;
    text-align: center;
    padding-top: 25px;
}

.top_menu {
    display: flex;
    justify-content: space-evenly;
}

.top_menu_list, .sub_menu_list {
    list-style-type: none;
}

.top_menu_link, .sub_menu_link, .link {
    color: green;
    text-decoration: none;
    line-height: 25px;
}

.top_menu_link:hover, .sub_menu_link:hover, .link:hover {
    color: red;
}

.top_menu:hover .sub_menu {
    display: block;
}

.sub_menu {
    display: none;
}

h1 {
    text-align: center;
    padding-top: 15px;
}

.img {
    max-width: 290px;
    padding: 0 10px 10px 0;
}

.max_img {
    max-width: 1200px;
}

.text {
    color: grey;
    font-size: 16px;
    padding: 10px 0;
    text-align: center;
}

.clr {
    clear: both;
    height: 80px;
}

.footer {
    background-color: #434445;
    min-width: 1200px;
    height: 80px;
    text-align: center;
    color: #a4a4a4;
    font-size: 20px;
    font-weight: 100;
    line-height: 80px;
    margin: -80px auto 0;
}